<%- include("partials/header.ejs") %>
<body>

    <%- include("partials/nav.ejs") %>
    <h1> Famous Quotes - Admin Section </h1>

    <form action="/authors" class="list-item">
        <button class="btn btn-outline-primary">All Authors</button>
    </form><br>

    <form action="/author/new" class="list-item">
        <button class="btn btn-outline-primary">New Author</button>
    </form><br> 

    <form action="/quotes" class="list-item">
        <button class="btn btn-outline-primary">All Quotes</button>
    </form>

    <form action="/quote/new" class="list-item">
        <button class="btn btn-outline-primary">New Quote</button>
    </form><br>

    <%- include("partials/footer.ejs") %>
</body>
</html>