<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>
    <h1>Adding a new Author</h1>

    <form method="POST" action="/author/new" class="input-form">
        First Name:
        <input type="text" name="fName" required="required"><br>
        Last Name:
        <input type="text" name="lName" required="required"><br>
        Date of Birth:
        <input type="date" name="birthDate" required="required"><br>
        Date of Death:
        <input type="date" name="deathDate"><br>
        Sex:
        <select name="sex" required="required">
            <option value = 'F'>F</option>
            <option value = 'M'>M</option>
        </select><br>
        Profession:
        <input type="text" name="profession" required="required"><br>
        Country:
        <input type="text" name="country" required="required"><br>
        Portrait URL:
        <input type="text" name="portrait" required="required"><br>
        Bio:
        <textarea name="bio" class="long-text" required="required"></textarea><br>
        <br>  
        <button class="btn btn-outline-primary">Add Author</button>
    </form>
    <% if (typeof message != "undefined"){ %>
        <h3><%=message%></h3>
    <% } %>

    <%- include("partials/footer.ejs") %>
</body>
</html>